body{margin:0}.affine-transformation__title{text-align:center;margin-bottom:20px}.affine-transformation__controls{margin-bottom:20px}.affine-transformation__graph{margin:0 auto;width:700px;height:700px}

.controls{display:flex;align-items:center;flex-direction:column;gap:15px}.controls__control{display:flex;align-items:center;gap:10px}.controls__apply-button{background-color:transparent;border:1px solid gray;padding:10px;font-weight:700;text-transform:uppercase}

